<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta charset="UTF-8" />
<title>Lista de Livros</title>

</head>
<body>
	<div class="container" style="max-width:650px;">
		<div style="text-align: center" layout:fragment="header">
			<h2>
				Lista de Livros
			</h2>
		</div>
		<div class="table col-md-12" layout:fragment="content"
			style="left: 0; right: 0; margin-left: auto; margin-right: auto; padding: 10px; margin-top: 20px">
			<div class="row col-md-12">
			<div class="col-md-2"></div>
				<div class="col-md-2">
					<span>ID</span>
				</div>
				<div class="col-md-2">
					<span>Título</span>
				</div>
				<div class="col-md-2">
					<span>Autor</span>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-2"></div>
				
			</div>
			<div class="col-md-12">
				<div class="col-md-12" th:if="${livros.empty}">
					<h2>Sem livros</h2>
				</div>
				<div class="row" th:each="livro : ${livros}">
					<div class="col-md-2">
					
					
						<img alt="" src="" th:if="${livro.foto}" th:src="${livro.foto}" style="width:100px">
						<img th:unless="${livro.foto}" th:src="@{'../img/unless.jpg'}" width="100px" />
						
					</div>
					<div class="col-md-2">
						<span th:text="${livro.idLivro}">1</span>
					</div>
					<div class="col-md-2">
						<a href="#" th:href="@{'/livros/'+${livro.idLivro}}"
							th:text="${livro.titulo}"> Título </a>
					</div>
					<div class="col-md-2">
						<span th:text="${livro.Autor.nome}">1</span>
					</div>
					<div class="col-md-2 btnGrid">
						<a href="#" th:href="@{'/livro/alterar/'+${livro.idLivro}}" class="btn btn-primary " > Alterar </a>
					</div>
					<div class="col-md-2 btnGrid">
						<a href="#" th:href="@{'/livro/excluir/'+${livro.idLivro}}" class="btn btn-danger" > Excluir </a>
					</div>
				</div>


			</div>
			<div class="footer">
			<a href="#" th:href="@{/livro/novo}" class="btn btn-primary">Novo</a>
		</div>
		</div>
		
	</div>
	
	
</body>
</html>
