<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Lista de Usuários</title>
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
</head>
<body>
	<table class="jumbotron" style="left:0; right:0; margin-left:auto; margin-right:auto; padding:10px">
		<thead>
			<tr>
				<td>ID</td>
				<td>Nome</td>
				<td>Email</td>
				<td>Editar</td>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${usuarios.empty}">
				<td colspan="2">Sem Usuarios</td>
			</tr>

			<tr th:each="usuario : ${usuarios}">
				<td th:text="${usuario.idUsuario}">1</td>
				<td th:text="${usuario.userName}">2</td>
				<td th:text="${usuario.email}">3</td>
				<td><a href="#" th:href="@{'/usuario/'+${usuario.idUsuario}}"
					th:text="${usuario.userName}"> Usuário </a></td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript"
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>