<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default navbar-static">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#" th:href="@{/livro/novo}" class="btn btn-primary">Cadastro de Livros</a>
				<a href="#" th:href="@{/livro/livros}" class="btn btn-primary">Listar Livros</a>
			</div>
		</div>
	</nav>
	<div class="container">

		<div class="jumbotron">
			<h1>Welcome!!!</h1>
		</div>

	</div>


	<script type="text/javascript"
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>