<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Lista de Autores</title>
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
</head>
<body>
	<table class="jumbotron" style="left:0; right:0; margin-left:auto; margin-right:auto; padding:10px">
		<thead>
			<tr>
				<td>ID</td>
				<td>Nome</td>
				<td>Editar</td>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${autores.empty}">
				<td colspan="2">Sem Autores</td>
			</tr>

			<tr th:each="autor : ${autores}">
				<td th:text="${autor.idAutor}">1</td>
				<td><a href="#" th:href="@{'/autor/'+${autor.idAutor}}"
					th:text="${autor.nome}"> Nome </a></td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript"
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>